<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<object width="640" height="385"><param name="movie" value="<%= sanitize Promoter.first.link %>">
</param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param>
<embed src="<%= sanitize Promoter.first.link %>" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>


